build/
devel/
install/
log/
.catkin_workspace
.vscode/
__pycache__/
*.pyc
.DS_Store

# Windows NTFS alternate data streams
*:Zone.Identifier
*:Zone.Identifier:*

*:Avecto.Zone.Identifier
*:Avecto.Zone.Identifier:*

*usd:*
